.inline-related td.original {
    display: table-cell !important;
    width: 44px;
    text-align: center;
    font-weight: 600;
    color: #aaa;
    /* vertical-align: top; */
    /* padding: 0 0 0 0;
    width: 0; */
}

.inline-related thead th:first-child {
    width: 44px;
}

.inline-group .tabular tr td.original {
    padding: 0 2px 0 2px;
    width: 0;
    vertical-align: middle;
}
